@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to  Ingenio - Astrology.com</h1>
    <h3>AKS Deployment BY Prince Sharma </h3>
    <p>Want to Know more  <a href="https://dev.horoscopo.com">Horoscopo-Know Your day in 2 mins.</a>.</p>
    <p><a href="https://uat.horoscopo.com">Meet with Astrologers from anywhere globally.</a>.</p>
    <p> Implementing tagging for Rollback</p>
</div>
